@font-face {
    font-family: iconPlayer;
    src: url(fonts/iconPlayer.eot?d3e505e121ccf9ff580ccea3999f5bfa);
    src: url(fonts/iconPlayer.eot?d3e505e121ccf9ff580ccea3999f5bfa) format("embedded-opentype"),url(fonts/iconPlayer.ttf?5325f5ab7ee19a6e1cb420e244a01518) format("truetype"),url(fonts/iconPlayer.woff?2431044eda97e12d24c8b5bcef2c0742) format("woff"),url(fonts/iconPlayer.svg?6e6373837b5845e1114a761da6fc66f5) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],[class^=icon-] {
    font-family: iconPlayer!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-cc:before {
    content: "\e913"
}

.icon-repeat:before {
    content: "\e912"
}

.icon-fullscreen-exit:before {
    content: "\e911"
}

.icon-fast-backward .path1:before {
    content: "\e900";
    color: #fff;
    opacity: .5
}

.icon-fast-backward .path2:before {
    content: "\e901";
    margin-left: -2.298828125em;
    color: #fff;
    opacity: .7
}

.icon-fast-backward .path3:before {
    content: "\e902";
    margin-left: -2.298828125em;
    color: #fff
}

.icon-fast-forward .path1:before {
    content: "\e903";
    color: #fff;
    opacity: .5
}

.icon-fast-forward .path2:before {
    content: "\e904";
    margin-left: -2.298828125em;
    color: #fff;
    opacity: .7
}

.icon-fast-forward .path3:before {
    content: "\e905";
    margin-left: -2.298828125em;
    color: #fff
}

.icon-fullscreen:before {
    content: "\e906"
}

.icon-muted:before {
    content: "\e907"
}

.icon-next:before {
    content: "\e908"
}

.icon-pause:before {
    content: "\e909"
}

.icon-play:before {
    content: "\e90a"
}

.icon-reply:before {
    content: "\e90b"
}

.icon-setting:before {
    content: "\e90c"
}

.icon-tick-quality:before {
    content: "\e90d"
}

.icon-volumemax:before {
    content: "\e90e"
}

.icon-volumemin:before {
    content: "\e90f"
}

.icon-widescreen:before {
    content: "\e910"
}

.icon-upload:before {
    content: "\e914"
}

.icon-add:before {
    content: "\e915"
}

.icon-close:before {
    content: "\e916"
}

.icon-error:before {
    content: "\e917"
}

.icon-link-broken:before {
    content: "\e918"
}

.icon-appstore:before {
    content: "\e925"
}

.icon-ggplay:before {
    content: "\e926"
}

.icon-mail:before {
    content: "\e927"
}

.icon-sms:before {
    content: "\e928"
}

.icon-quit:before {
    content: "\e930"
}

.icon-stick:before {
    content: "\e929"
}

.icon-bell:before {
    content: "\e919"
}

.icon-clock-later:before {
    content: "\e91a"
}

.icon-add-circle:before {
    content: "\e91b"
}

.icon-comment:before {
    content: "\e91c"
}

.icon-dislike:before {
    content: "\e91d"
}

.icon-dot-horizontal:before {
    content: "\e91e"
}

.icon-dot-vertical:before {
    content: "\e91f"
}

.icon-eye:before {
    content: "\e920"
}

.icon-flag:before {
    content: "\e921"
}

.icon-like:before {
    content: "\e922"
}

.icon-link:before {
    content: "\e923"
}

.icon-share:before {
    content: "\e924"
}

.icon-menu-list:before {
    content: "\e92a"
}

.icon-menu:before {
    content: "\e92b"
}

.icon-recycle:before {
    content: "\e92c"
}

.icon-bill:before {
    content: "\e92d"
}

.icon-connect:before {
    content: "\e92e"
}

.icon-gift:before {
    content: "\e92f"
}

.icon-history:before {
    content: "\e931"
}

.icon-image:before {
    content: "\e932"
}

.icon-legal:before {
    content: "\e933"
}

.icon-line-chart:before {
    content: "\e934"
}

.icon-modal:before {
    content: "\e935"
}

.icon-movies:before {
    content: "\e936"
}

.icon-percent:before {
    content: "\e937"
}

.icon-playlist:before {
    content: "\e938"
}

.icon-real-chart:before {
    content: "\e939"
}

.icon-tv:before {
    content: "\e93a"
}

.icon-user:before {
    content: "\e93b"
}

.icon-users:before {
    content: "\e93c"
}

.icon-bullhorn:before {
    content: "\e93d"
}

.icon-coin-h:before {
    content: "\e93e"
}

.icon-edit:before {
    content: "\e93f"
}

.icon-eye-o:before {
    content: "\e940"
}

.icon-touch:before {
    content: "\e941"
}

.icon-play-c:before {
    content: "\e942"
}

.icon-camera:before {
    content: "\e943"
}

.icon-search:before {
    content: "\e944"
}

.icon-setting-o:before {
    content: "\e945"
}

.icon-cast:before {
    content: "\e946"
}

.icon-emoji:before {
    content: "\e947"
}

.icon-send:before {
    content: "\e948"
}

.icon-more:before {
    content: "\e949"
}

.icon-widescreen-o:before {
    content: "\e94a"
}

.icon-w-later:before {
    content: "\e94b"
}

.icon-checked-o:before {
    content: "\e94c"
}

.icon-checked:before {
    content: "\e94d"
}

.icon-uncheck-o:before {
    content: "\e94e"
}

.icon-uncheck:before {
    content: "\e94f"
}

.icon-repeat-v:before {
    content: "\e950"
}

.icon-suffle:before {
    content: "\e951"
}

.icon-disliked:before {
    content: "\e952"
}

.icon-liked:before {
    content: "\e953"
}

.icon-prev:before {
    content: "\e954"
}

.icon-facebook:before {
    content: "\e955"
}

.icon-google:before {
    content: "\e956"
}

.icon-playlist-rec:before {
    content: "\e957"
}

.icon-star:before {
    content: "\e958"
}

.icon-dot:before {
    content: "\e959"
}

.icon-play-fill:before {
    content: "\e960"
}

.icon-add-circle-fill:before {
    content: "\e95a"
}

.icon-arrow-down:before {
    content: "\e95b"
}

.icon-arrow-left:before {
    content: "\e95c"
}

.icon-arrow-right:before {
    content: "\e95d"
}

.icon-arrow-up:before {
    content: "\e95e"
}

.icon-bell-off:before {
    content: "\e95f"
}

.icon-comment-fill:before {
    content: "\e961"
}

.icon-dot-horizontal-fill:before {
    content: "\e962"
}

.icon-dot-vertical-fill:before {
    content: "\e963"
}

.icon-share-fill:before {
    content: "\e972"
}

.icon-locked:before {
    content: "\e970"
}

.icon-checked-o-fill:before {
    content: "\e971"
}

.icon-checked-o-fill-2 .path1:before {
    content: "\e975";
    color: #33aedc
}

.icon-checked-o-fill-2 .path2:before {
    content: "\e976";
    margin-left: -1em;
    color: #fff
}

.icon-loading-line:before {
    content: "\e973"
}

.icon-setting-lg:before {
    content: "\e974"
}

.icon-drag:before {
    content: "\e977"
}

.icon-blocked:before {
    content: "\e978"
}

.icon-arrow-line-down:before {
    content: "\e964"
}

.icon-arrow-line-up:before {
    content: "\e965"
}

.icon-upload-thin:before {
    content: "\e96a"
}

.icon-question:before {
    content: "\e96b"
}