.action-box {
	display: inline-block;
	cursor: pointer;
	position: relative;

	&:hover,
	&.active {
		i:before {
			opacity: 1;
		}
	}

	i {
		display: block;
		-webkit-transition: all 600ms easing’s Bezier curve;
		transition:         all 600ms easing’s Bezier curve; 
	}

	.icon-like-action {
		&:before { 
			content: '';
			@extend .icon-like-action-active;
			display: block;
			position: absolute;
			top: -10px;
			left: -10px;
			opacity: 0;
		}
	}

	.icon-heart-action {
		&:before {
			content: '';
			@extend .icon-heart-action-active;
			display: block;
			position: absolute;
			top: -7px;
			left: -5px;
			opacity: 0;
		}
	}
}

.action-live {
	display: block;
}

.boxplayer.boxplayer-livestream {
	.player-control {
		> .action-box {
			margin-left: 10px; 
		}

		> .clock {
			margin-right: 35px;
		}

		&.show-player-control {
			> * {
				opacity: 1;
			}
		}

		> .action-box {
			opacity: 1;
		}
	}
}

.action-live {
	@include fontSize(30px);
	color: $color-green; 
	position: absolute;
	bottom: 100%;
	animation: planeo 3s linear infinite,
		move 6s infinite alternate;
}

.bd-none {
	border: none;
}

@keyframes move {
  from { bottom: 10px;}
  to   { bottom: 500%; opacity:0; }
}

@keyframes alas {
  50%{
    transform:rotateX(-1440deg);
  }
}

@keyframes planeo {
	0%{
		transform:rotateZ(2deg) translateX(2px) translateY(10px) translateZ(0);
		line-height:16px;
		transform: scale(1);
		-webkit-transform: scale(1);
	}

	100%{
		transform:rotateZ(-2deg) translateX(5px) translateY(8px) translateZ(0);
		transform: scale(0.1);
		-webkit-transform: scale(0.1);
	}
}

.video-livestream-info  {
	> div:first-child {
		border: none;
	}

	 > div > div {
	 	&.social {
	 		padding-top: 0;

	 		i {
	 			margin-left: 20px;
	 		}
	 	}
	 }

	.video-info {
		.video-detail {
			width: 100%;
			padding: 0;

			p {
				color: $color05;
				height: auto;

				span {
					display: inline-block;
					width: 150px;
				}
			}
		}
	}
}

.live-status {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 3;

	h2 {
		@include fontSize(40px);
		color: white;
		margin: -5px 0 5px;
	}

	.live-active {
		height: 30px;
		text-transform: uppercase;
		color: $color01;
		@include fontSize(13px);
		background: white;
		border-radius: 20px;
		padding: 0 20px;
		display: inline-block;
		line-height: 30px;

		i {
			@include fontSize(10px);
			color: $color08;
			display: inline-block;
			margin-right: 7px;
			position: relative;
			top: -2px;
		}
	}

	.live-viewer {
		height: 30px;
		text-transform: uppercase;
		color: white;
		@include fontSize(13px);
		background: black;
		border-radius: 20px;
		padding: 0 20px;
		display: inline-block;
		line-height: 30px;

		i {
			@include fontSize(15px);
			color: white;
			display: inline-block;
			margin-right: 7px;
		}
	}

	a + a {
		margin-left: 10px;
	}
}

.text-normal {
	text-transform: none !important;
}

.ml-10 {
	margin-left: 10px !important;
}


.reveal {
	&.player-modal {
		padding: 0;
	    border: 0;
	    background: none;
	    max-width: none;
	    width: 100%;

	    .content-modal {
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}

	    .boxplayer {
	    	padding: 0;
	    	background: none;

	    	.btn-watch-later {
	    		right: 45px;
	    		top: 13px;
	    	}
	    }

	    .close-button {
	    	color: white;
	    }
	}
	
	&.full-screen-modal {
		.boxplayer .btn-watch-later {
    		right: 45px;
    		top: 13px;
    	}
	}
}








































