.fi-volume {
	width: 41px;
	height: 20px;
	display: inline-block;
	background: url(img/icon-vol.svg) center center no-repeat;
	background-size: contain;

	&:before {
		display: none;
	}
}

.boxplayer {
	background: black;
	padding: 20px 0;
	margin-bottom: 30px;
	position: relative;

    .img-player {
        width: 100%;
    }

    .btn-play {
    	@include position-middle();
	    width: 100px;
	    height: 100px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    color: white;
	    @include fontSize(70px);
	    z-index: 10;
		transition: opacity .15s linear;
		background: url(img/btn-play.svg) center center no-repeat;
		background-size: contain;

	    &:hover {
	    	opacity: 0.9;
	    }
    }

	.mainplayer {
		margin: auto;
		border-radius: 10px;
		overflow-y: hidden;
		position: relative;
	}

	.top-info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: block;
		height: 85px;

		.video-name {
			@include fontSize(20px);
			text-shadow: 0 2px 4px black;
			color: white;
			padding: 15px 30px;
			position: relative;
			z-index: 2;
		}

		.btn-action-list {
			display: flex;
			flex-flow: row;
			width: auto;
			bottom: auto;
			top: 20px;
			right: 20px;
			opacity: 1;
			z-index: 2;

			i {
				margin: 0 5px;
			}
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			display: block;
			opacity: 1;
			width: 100%;
			height: 85px;
			transition: all .15s linear;
			background: rgba(255,0,255,0);
			background: -moz-linear-gradient(bottom, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(255,0,255,0)), color-stop(69%, rgba(0,0,0,0.47)), color-stop(100%, rgba(0,0,0,0.68)));
			background: -webkit-linear-gradient(bottom, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: -o-linear-gradient(bottom, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: -ms-linear-gradient(bottom, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: linear-gradient(to top, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00ff', endColorstr='#000000', GradientType=0 );
		} 
	}

	.player-control {
		align-items: center;
		display: flex;
		flex-flow: row;
		padding: 20px 30px;
		position: absolute;
		width: 100%;
        left: 0;
        bottom: 0;
        font-weight: 400;
        transition: all 0.15s linear;

		.clock {
			color: white;
			@include fontSize(13px);
			margin: 0 27px 0 0;
		}

		.trailer {
			margin-right: 30px;
		}

		> i { 
			color: white;
			@include fontSize(25px);
			cursor: pointer;
			position: relative;

			&.fi-volume {
				top: 2px;
				margin: 0 15px 0 18px;
			}

			> div {
				opacity: 0;
				visibility: hidden;

				&.active {
					opacity: 1;
					visibility: visible;
				}
			}

			// &:hover {
			// 	> div {
			// 		opacity: 1;
			// 		visibility: visible;
			// 	}
			// }

			&.fullscreen,
			&.exit-fullscreen {
			    @include fontSize(30px);
			    position: relative;
			    top: 2px;
			}

			&.settings {
				top: 2px;
			}
		}

		.trailer {

			a {
				color: white;
				display: flex;
    			align-items: center;
    			@include fontSize(14px);
    			width: 105px;
			}

			i {
				@include fontSize(25px);
				color: white;
				margin-right: 10px;
			}
		}

		> * {
			z-index: 2;
			opacity: 0;
			transition: all .15s linear;
		}

		&:before {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			display: block;
			opacity: 0;
			width: 100%;
			height: 85px;
			transition: all .15s linear;
			background: rgba(255,0,255,0);
			background: -moz-linear-gradient(top, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,255,0)), color-stop(69%, rgba(0,0,0,0.47)), color-stop(100%, rgba(0,0,0,0.68)));
			background: -webkit-linear-gradient(top, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: -o-linear-gradient(top, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: -ms-linear-gradient(top, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			background: linear-gradient(to bottom, rgba(255,0,255,0) 0%, rgba(0,0,0,0.47) 69%, rgba(0,0,0,0.68) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00ff', endColorstr='#000000', GradientType=0 );
		} 

		&.show-player-control {
			> *,
			&:before {
				opacity: 1;
			}
		}
	}

	.progress {
		width: 100%;
		height: 4px;
		border-radius: 4px;
		margin: 0 10px 0 30px;
		cursor: pointer;
	}

	.progress-meter {
		background-color: $color-green;
		border-radius: 4px;

		&:after {
			width: 15px;
			height: 15px;
			border-radius: 100%;
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: -6px;
			background: $color-green;
		}
	}

	.volume-option {
		height: 100px;
		background-color: $color03;
		width: 3px;
		border-radius: 100px;
		display: block;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		margin: 0 auto 5px;

		.volume-select {
			width: 100%;
			background-color: $color-green;
			border-radius: 100px;
			position: absolute;
			bottom: 0;

			&:before {
			    content: '';
			    width: 10px;
			    height: 10px;
			    background-color: $color-green;
			    border-radius: 100%;
			    display: block;
			    position: absolute;
			    left: -3px;
			    right: 0;
			    top: 0;
			    cursor: pointer;
			}
		}
	}

	.icon-chaplist {
		.options {
			width: 210px;
			li {
				a {
					justify-content: flex-end;
				}
			}
		} 
	}

	.options {
		@include border-radius(5px);
		background: white;
		box-shadow: 0px 1px 20px -5px $color01;
		border: none;
		position: absolute;
		bottom: 100%;
		display: block;
		right: -15px;
		width: 230px;
		padding: 10px 0;
		margin-bottom: 10px;
		transition: all .15s linear;
		opacity: 0;

		&:before,
		&:after {
		    position: absolute;
		    bottom: -6px;
	        right: 18px;
		    display: none;
		    width: 0;
		    height: 0;
		    border: inset 7px;
		    content: '';
		    border-bottom-width: 0;
		    border-top-style: solid;
		    border-color: $color02 transparent transparent transparent;
		}

		&:after {
			bottom: -6px;
			border-color: white transparent transparent transparent;
		}

		li {
			.nested-scroll {
				max-height: 305px;
				overflow-y: scroll;
				position: relative;
			}

			a {
				@include fontSize(15px);
				color: $color01;
			    font-style: normal;
    			padding: 5px 20px;
    			display: flex;
    			align-items: center;
    			cursor: pointer;
    			border-radius: none;
    			transition: all .15s linear;
				font-weight: 500;
				position: relative;

				i {
					@include fontSize(23px);
					color: $color01;
					margin-right: 20px;
				}

				&.selected {
					&:before {
						content: '';
						width: 16px; height: 13px;
						background: url(img/icon-checked.svg) center center no-repeat;
						display: block;
						position: absolute;
						left: 20px;
						top: 0; 
						bottom: 0;
						margin: auto;
					}
				}

				span {
					color: $color01;
					float: right;
					display: inline-block;
					margin-left: auto;
					font-weight: 300;
				}

				&:hover {
					background-color: $color02;
				}
			}

			&.js-drilldown-back {
				border-bottom: 1px solid $color02;
			}
		}

		.nested {
			&.error li.is-submenu-item {

				&.btn-groups a {
					width: 85px;
					text-align: center;
				}
				a, div {
					@include fontSize(15px);
					color: $color01;
					font-style: normal;
					padding: 5px 20px;
					display: flex;
					align-items: center;
					cursor: pointer;
					border-radius: none;
					transition: all .15s linear;
					font-weight: 500;
					position: relative;
					justify-content: space-between;
					
					&.success {
						color: white !important;
						border: none;
					}

					input,label {
						width: auto;
						padding: 0;
						margin: 0;
					}

					&:before {
						display: none !important;
					}
				}

				// input {
				// 	width: 20px;
				// 	margin-left: 15px;
				// }

				// label {
				// 	width: calc(100% - 40px);
				// 	margin: 0;
				// 	position: relative;
				// 	text-align: right;
				// 	top: 2px;
				// }
			}

			.btn-groups {
				display: flex;
				justify-content: space-between;
				padding: 8px 10px 8px 20px;

				a {
					display: inline;
					width: auto;
				}
			}

			li {
				a {
					padding: 8px 20px;
					@include fontSize(15px);
					font-weight: 400;
					text-align: right;
					justify-content: flex-end;
	
					&.new-back  {
						font-weight: 500;
						i {
							position: absolute;
							left: 15px;
						}
					}
	
					
				}
			}
		} 

		.drilldown {
			.is-drilldown-submenu-parent > a {
				&:after {
					right: 8px;
					border-color: transparent transparent transparent $color03;
					display: none;
				}
			} 

			.js-drilldown-back > a::before {
				border: none;
			    font-family: FontAwesome;
			    content: "\f060";
			    border: none;
			    top: -8px;
			    display: none;
			    position: relative;
			    color: $color03;
			    margin-right: 20px;
			}
		}

		.submenu {
			padding-top: 0;
		}
	}
}

.icon-detect {
	@include position-middle();
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 10;
	transition: opacity .15s linear;

	&:hover {
		opacity: 0.9;
	}

	&.icon-backward {
		background: url(img/icon-prev-10s.svg) center center no-repeat;
		background-size: contain;
	}

	&.icon-forward {
		background: url(img/icon-next-10s.svg) center center no-repeat;
		background-size: contain;
	}

	&.icon-vol-mute {
		background: url(img/icon-vol-mute.svg) center center no-repeat;
		background-size: contain;
	}
	&.icon-vol-medium {
		background: url(img/icon-vol-medium.svg) center center no-repeat;
		background-size: contain;
	}
	&.icon-vol-max {
		background: url(img/icon-vol-max.svg) center center no-repeat;
		background-size: contain;
	}
}

.icon-nextchap {
	@include size(30px);
	 background: url(img/icon-next-chapter.svg) center center no-repeat;
	 display: inline-block;
	 margin-right: 30px;
	 background-size: contain;
	 top: 2px;
}
.icon-chaplist {
	width: 38px;
	height: 32px;
	 background: url(img/icon-chapter.svg) center center no-repeat;
	 display: inline-block;
	 margin-right: 25px;
	 top: 2px;
	 background-size: contain;
}

.btn-watch-later {
	display: block;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    cursor: pointer;

    &:hover,
    &:focus {
    	opacity: 0.9;
    	color: white;
    }

    .iconwatchlatercheck {
    	display: none;
    }

    &.selected {
    	.iconwatchlatercheck {
    		display: block;
    	}

    	.iconwatchlater {
    		display: none;
    	}
    }
}

.progress-meter {
	background-color: $color-green;
}

.video-content-info {
	margin-bottom: 30px;
	position: relative;

	> div {
		> div {
			padding: 5px 0 20px 0; 
		}
	}

	.video-info {
		display: flex;
		justify-content: space-between;

		@media #{$tabletonly}{
	    	display: block;
	    }

	    @media #{$mobile}{
	    	display: block;
	    	padding: 20px 0;
	    }

		.video-backdrop {
			width: 390px;
			height: 220px;
			border-radius: 10px;
			overflow: hidden;
			background-size: cover;
			background-position: top center;
			display: block;

			@media #{$mobile}{
		    	width: 100%;
		    }
		}

		.video-detail { 
			width: calc(100% - 390px);
			padding: 0 40px 0 20px;

			@media #{$tabletonly} {
		    	width: 100%;
		    	padding: 20px 20px 0 0;
		    }

		    @media #{$mobile}{
		    	width: 100%;
		    	padding: 20px 10px 0 0;
		    }

			h3 {
				@include fontSize(20px);
				font-weight: 500;
				position: relative;
				top: -6px;
			}

			ul {
				position: relative;
				top: -9px;

				li {
					display: inline;
					@include fontSize(13px);
					color: $color03;
					padding-right: 5px;

					.quality {
						@include fontSize(8px);
						color: white;
						font-weight: bold;
						padding: 3px 9px;
						background: rgba(74,74,74,0.8);
						border-radius: 20px;
						position: relative;
						top: -2px;
					}
				}
			}

			.social p {
				display: inline;
				@include fontSize(16px);
				padding: 0 10px 0 0;
				color: $color03;
			}

			p {
				@include fontSize(15px);
				padding-bottom: 12px;
				color: $color05;
				margin-bottom: 8px;

				&.content-des {
					line-height: 20px;
					margin-top: 4px;
						
					+ p {
						margin-bottom: 2px;
					}
				}

				span {
					display: block;
					line-height: 19px;

					.lbl {
						min-width: 80px;
						display: inline-block;
					}
				}

				a {
					color: $color-green;
				}
			}
		}
	}

	.rating {
		display: flex;
		align-items: top;

		.total-rating {
			position: relative;

			i {
				@include fontSize(41px);
				color: $color04;

			}

			span {
				@include fontSize(10px);
				color: $color01;
			    position: absolute;
			    top: 13px;
			    left: 0;
			    display: inline-block;
			    right: 0;
			    bottom: 0;
			    margin: auto;
			    font-weight: 500;
			    text-align: center;
			}
		}

		.rating-select {
			margin-left: 13px;

			i {
				cursor: pointer;
				color: $color05;
				margin: 5px 10px 0px 0px;
			}

			p {
				@include fontSize(13px);
				padding-bottom: 0;
				margin-top: -3px;
			}
		}
	}
}

.social {
	margin-left: auto;
    align-items: center;
	display: flex;

	i {
	    @include fontSize(18px);
	    color: white;
	    background-color: #f43136;
	    border-radius: 100%;
	    overflow: hidden;
	    width: 40px;
	    height: 40px;
	    text-align: center;
	    align-items: center;
	    display: flex;
	    justify-content: center;
	    flex-flow: row;
	    margin-left: 10px;
	    transition: opacity .15s linear;
	    cursor: pointer;

	    &.fa-facebook {
	    	background-color: #2f599a;
	    }

	    &:hover {
	    	opacity: 0.7;
	    }
	}
}

.avatar {
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

.comment-section {
	margin: 10px 0 30px;

	textarea {
		border-radius: 10px;
		border-color: $color03;
	}
}

.ribbon-list-line{
	margin-bottom: 24px;

	.flex-direction-nav {
		position: static;

		.flex-next {
		    text-align: right;
		    position: absolute;
		    right: 13px;
		    top: 40px;
		    bottom: 0;
		    height: 30px;
		}

		.flex-prev {
		    position: absolute;
		    left: 13px;
		    top: 40px;
		    bottom: 0;
		    height: 30px;
		}
	} 
}

.see-more {
	@include fontSize(13px);
	color: $color-green;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: $color-green;
	} 
}


.artist-join {
	padding-left: 40px;

	@media #{$mobile}{ 
		padding-left: 0;
	}

	h3	{
		@include fontSize(22px);
		text-transform: uppercase;
		color: $color-green;

	}

	.ribbon-list-container {
		margin: 22px 0; 

		@media #{$tabletonly} {
			margin: 60px 0 22px;
		}
	}
}

.ribbon-list-artist {
	padding: 0 40px;

	.slides li {
		text-align: center;

		a {
			padding-bottom: 0;
			background: none;

			.avatar {
				width: 100px;
				height: 100px;
				border-radius: 100%;
				margin: auto;
				background-size: cover;
				background-repeat: no-repeat;
				display: block;
			}

			p {
				@include fontSize(15px);
				color: $color01;
				font-weight: 300;
				padding-top: 1px;
				@include truncate(100%);
			}
		}
	}
}


.comment-section {
	h3 {
		@include h3();
		margin-bottom: 30px;

		i {
			@include fontSize(25px);
			margin-right: 20px;
			position: relative;
			top: -1px;
		}

		span {
			color: $color01;
		}
	}

	.input-comment {
		position: relative;

		input {
		    height: 30px;
		    border-radius: 15px;
		    padding-left: 20px;
		    padding-right: 40px;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 40px;
			height: 30px;
			cursor: pointer;
			transition: opacity .15s linear;

			i {
				color: $color-green;
			}

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.comment-list {
		display: block;
		margin: 30px 0 40px;

		li {
			display: flex;
			@include fontSize(15px);
			color: $color01;
			margin-bottom: 20px;

			.avatar {
				width: 40px;
				height: 40px;
				margin-right: 20px;
			}

			p {
				@include fontSize(15px);
				line-height: 19px;
			}

			h4 {
				@include fontSize(14px);
				display: block;
				margin-bottom: 3px;
				color: $color05;

				span {
					color: $color03;
					margin-left: 5px;
				}
			}
		}
	}
}

.reveal {
	border-radius: 10px;
	padding: 30px;

	h1 {
		@include fontSize(20px);
		color: $color01;
		margin-bottom: 15px;
	}

	@media #{$mobile}{ 
		width: 90%;
		margin: auto;
		height: auto;
		min-height: unset;
	}
}

#raiseBugModal,
#ratingModal {
	width: 350px;
}
.raise-bug {
	label {
		margin-left: 15px;
	    @include fontSize(15px);
	    position: relative;
	    top: 1px;
	}
}

.button {
	&.success {
		color: white;
		background-color: $color-green;

		&:hover, &:focus {
			color: white;
		}
	}

	&.button-round {
		border-radius: 15px;
	    height: 30px;
	    padding: 0 20px;
	    line-height: 30px;
	    margin-right: 10px;

	    &.large {
	    	border-radius: 20px;
		    height: 40px;
		    padding: 0 20px;
		    line-height: 40px;
		    margin-right: 0;
	    }
	}
}

.button-group {
	a:last-child {
		margin-right: 0;
	}
}

.reveal {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    display: block;
}

#seeTrailerModal {
	padding: 0;
	border: 0;
	background: none;
	max-width: none;
	top: 80px !important;
	margin: auto;
	position: relative;
	transform: none !important;

	@media #{$tabletonly} {
		width: 90%;
	}

	.boxplayer {
		padding: 0;
		background: none;
		margin: 0;
		padding: 0;

		.progress {
			width: 70%;
		}
	}

	.close-button {
		color: white;
	}
}


#ratingModal {
	.rating {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 30px 0;
 
		i {
			@include fontSize(40px);
			margin: 5px;
			cursor: pointer;
		}
	}
}

.fa-star,
.fa-star-half-o { 
	&:before {
		color: $color04;
	}
}

.exit-fullscreen {
	@include fontSize(22px);
}


.content-des {
	position: relative;
	overflow: hidden;
	transition: height .15s linear;
	margin-bottom: 10px;
	padding-bottom: 0 !important;

	& + p {
		margin-bottom: 2px;
	}

	.see-more {
		position: absolute;
	    right: 0;
	    bottom: 2px;
	    background: white;
		display: none;
		
		span {
			color: $color01;
			padding-right: 5px;
			display: inline-block !important;
			padding-left: 5px;
		}

		@media #{$desktopsmall}{
	    	bottom: 3px;
	    }
	}

	&.expand {
		max-height: none !important;
	}
}

.artist-info {
	.content-des {
		overflow: hidden;
		transition: height .15s linear;
		padding-bottom: 20px;

		.see-more {
		    left: 0;
		    bottom: 0;
		    padding-left: 0;
		}

		&.expand {
			height: auto;
		}
	}
}

.btn-round {
	@include fontSize(12px);
	color: $color01 !important;
	text-transform: none;
	padding: 5px 20px;
	border: 1px solid $color01;
	border-radius: 20px;
	transition: all .15s ease;

	&:hover, &:focus {
		color: $color-green !important;
		border-color: $color-green;
	}
}

.h2-ttl {
	&.none-link a,
	&.none-link {
		color: $color01 !important;
	}

	.see-all {
		float: right;
		margin-right: 70px;
		top: -4px;
	}

	.dropdown.menu.menu-style-selectbox {
		margin: 0;
		position: relative;
		padding: 0;
		top: -9px;

		> li {
			a {
				margin: 0;
				min-width: 150px;
			}
		}

		.submenu {
			text-transform: none;
		}
	}

	.float-right {
		@include fontSize(16px);
		text-transform: none;
		margin-right: 10px;
		color: $color01;
	}
}

.btn-play-small {
	@include size(100%);
	background: url(img/btn-play-small.svg) center center no-repeat;
	display: block;
	@include position-middle();

	&:after {
		@include size(100%);
		background: url(img/btn-play-small-active.svg) center center no-repeat;
		display: none;
		@include position-middle();
		content: '';
	}
}

.btn-action-list {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	width: 23px;
	opacity: 0;

	i {
		margin: 5px 0;
		cursor: pointer;
	}
}

.icon-watchlater {
	@include size(23px);
	background: url(img/icon-watch-later.svg) center center no-repeat;
	display: block;
	position: relative;

	&:after {
		@include size(23px);
		background: url(img/icon-watch-later-active.svg) center center no-repeat;
		display: none;
		@include position-middle();
		content: '';
	}

	&:hover {
		&:after {display: block;}
	}

	&.selected {
		transform: scaleX(-1) rotate(-50deg);
	}
}

.icon-facebooks {
	@include size(23px);
	background: url(img/icon-facebook.svg) center center no-repeat;
	display: block;
	position: relative;

	&:after {
		@include size(23px);
		background: url(img/icon-facebook-active.svg) center center no-repeat;
		display: none;
		@include position-middle();
		content: '';
	}

	&:hover {
		&:after {display: block;}
	}
}

.icon-gplus {
	@include size(23px);
	background: url(img/icon-gplus.svg) center center no-repeat;
	display: block;
	position: relative;

	&:after {
		@include size(23px);
		background: url(img/icon-gplus-active.svg) center center no-repeat;
		display: none;
		@include position-middle();
		content: '';
	}

	&:hover {
		&:after {display: block;}
	}
}

.icon-error {
	@include size(25px);
	background: url(img/icon-baoloi.svg) center center no-repeat;
	display: block;
	position: relative;
}

.icon-sub {
	@include size(25px);
	background: url(img/icon-sub.svg) center center no-repeat;
	display: block;
	position: relative;
}
.icon-audio {
	@include size(25px);
	background: url(img/icon-audio.svg) center center no-repeat;
	display: block;
	position: relative;
}
.icon-quality {
	@include size(25px);
	background: url(img/icon-setting.svg) center center no-repeat;
	display: block;
	position: relative;
}

.w150 {width: 150px;}