$width15min: 137px;
$width15minmedium: 115px; 
$width15minsmall: 72px; 
$width15minsmallest: 45px; 


.liveTV-detail {
	&-info {
		h2 {
			font-size: 40px;
		}

		p {
			font-size: 20px;
			color: $color03;
			display: block;
			padding: 5px 0;
		}

		@media #{$tablet} {
			h2 {
				font-size: 30px;
			}

			p {
				font-size: 15px;
			}
		}
	}

	.boxplayer {
		padding: 0;
		background: none;  

		.progress {
			width: 70%;
		}
	}

	.mainplayer {
		padding-bottom: $padding-ratio-16-9;
		background-size: cover;
	}
}

.liveTV-section {
	background: black;
	padding: 10px 0 50px;
	border-bottom: 1px solid #222222;

	.dropdown.menu.menu-style-selectbox {
		> li {
			> a {
				border-color: white;
				color: white;
			}

			.is-dropdown-submenu-parent > a::after {
				color: white;
			}

			&.livetv-active {
				margin-right: 10px;

				> a {
					min-width: 90px;
					text-transform: uppercase;
					padding: 7px 20px 6px 40px;
					position: relative;
					color: $color-green;

					&:before {
						content: '';
						width: 12px;
						height: 12px;
						border-radius: 100%;
						display: block;
						position: absolute;
						top: 8px;
						left: 20px;
						background: $color-green;
					}
				}
			}
		}
	}
}

.list-channel {
	margin-top: 30px;

	li {
		a {
			font-size: 20px;
			color: white;
			transition: all .15s linear;
			padding: 5px 0;
			display: block;

			&:hover, &.active {
				color: $color-green;
			}
		}
	}
}


.schedule-time {
	margin-left: 250px; 
}

#timeline-section-list,
.schedule-channel {
	transition: all .25s linear;
	width: calc(#{$width15min} * 4 * 24); 

	@media #{$desktopsmall} {
		width: calc(#{$width15minmedium} * 4 * 24); 
	}

	@media #{$tablet} {
		width: calc(#{$width15minsmall} * 4 * 24); 
	}

	@media #{$tabletonly} {
		width: calc(#{$width15minsmallest} * 4 * 24); 
	}
}

.timeline-section {
	overflow: hidden;

	ul {
		display: flex;
		align-items: center;

		li {
			width: $width15min;
			font-size: 13px;
			color: $color05;
			position: relative;
			padding: 2px 6px;
			display: block;

			@media #{$desktopsmall} {
				width: $width15minmedium;
			}

			@media #{$tablet} {
				width: $width15minsmall;
			}

			@media #{$tabletonly} {
				width: $width15minsmallest; 
			}

			&:before {
				content: '';
				display: block;
				height: 50%;
				width: 1px;
				background: $color05;
				position: absolute;
				bottom: 0;
				left: 0;
			}

			&:nth-child(4n + 1) {
				&:before {
					height: 100%;
				}
			}

			&:nth-child(2n + 1) {
				&:before {
					background: $color-green;
				}
			}

			&:last-child {
				&:after {
					content: '';
					display: block;
					width: 1px;
					position: absolute;
					bottom: 0;
					right: 0;
					height: 100%;
					background: $color-green;
				}
			}
		}
	}
}

.pos-r {
	position: relative;
}

.schedule-channel-box {
	margin: 15px 0 0;
	height: 471px;
	overflow-y: auto;
	position: relative;

	.channel-list {
		&-item {
			background: $color06;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			height: 50px;
		}

		.channel-name {
			width: 250px;
			text-align: center;
			background: $color01;
			@include flexcenter();
			height: 100%;
			min-width: 250px;
			position: relative;
			z-index: 10;

			&:hover, &.active {
				background: $color-green;
			}
		}
	}

	.schedule-channel {
		display: flex;
		align-items: center;
		overflow: hidden;
		height: 100%;
		margin: 0;
		
		li {
			@include flexcenter();
			height: 100%;
			position: relative;

			&:after {
				content: '';
				height: 100%;
				background: black;
				width: 1px;
				position: absolute;
				right: 0;
				bottom: 0;
				display: block;
			}

			&:hover, &.active {
				background: $color-green;
			}

			a {
				display: block;
				color: white;
				text-align: left;
				@include truncate(100%);
				line-height: 50px;
				height: 100%;
				padding: 0 20px;
			}
		}
	}

	.simplebar-track {
	    background-color: $color01;
	}

	.simplebar-scrollbar:before {
	    background: $color05;
	}
}

.add-to-wishlist {
	font-size: 20px;
	height: 20px;
	color: white;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
	display: block;
}

.schedule-time-control {
	position: absolute;
    right: -40px;
    font-size: 40px;
    top: -20px;
	z-index: 1;
	
	@media (max-width: 103.125rem){
		right: -12px !important;
	}

    a {
    	color: white;
    	transition: opacity .15s ease;
    	cursor: pointer;
    	width: 30px;
    	display: inline-block;

    	&:hover {
    		opacity: 0.7;
    	}

    	&.disabled {
    		opacity: 0.7;
    	}

    	i {
    		cursor: pointer;
    		display: inline-block;
    	}
    }

    @media #{$desktopsmall} {
		right: -5px;
	    font-size: 35px;
	    top: -12px;

	    a {
	    	i {
	    		width: 20px;
	    	}
	    }
	}

	@media #{$tabletonly} {
	    a {
	    	i {
	    		width: 20px;
	    	}
	    }
	}
}

.vertical-line {
	width: 1px;
	height: 100%;
	background: $color-green;
	position: absolute;
	bottom: 0;
	left: 300px;
	display: block;
	z-index: 9;
	transition: all .15s linear;

	&:before {
		width: 11px;
		height: 11px;
		border-radius: 100%;
		background: $color-green;
		content: '';
		display: block;
		position: absolute;
		top: -3px;
		left: -5px;
	}
}

.full-screen-modal {
	width: 100%;
	height: 100vh;
	max-width: none;
	max-height: none;
	padding: 0;
	border: 0;
	margin: 0;
	border-radius: 0;

	.boxplayer {
		background: none;
		border: 0;
		padding: 0;
		margin: 0;
		border-radius: 0;

		.mainplayer {
			border-radius: 0;
			width: 100%;
			height: 100vh;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		.progress {
			width: 85%;
		}

		.btn-play {
			width: 200px;
			height: 200px;
		}

		.img-player { display: none; }

		.player-control {
			 > i {
			 	font-size: 40px;

			 	&.exit-fullscreen {
			 		font-size: 40px;
				 }
				 
				 &.fi-volume {
					 height: 40px;
				 }
			 }

			 .clock {
				 @include fontSize(18px);
			 }
		}

		.video-name {
			@include fontSize(40px);
			color: white;

			@media #{$desktopsmall} {
				font-size: 30px;
			}
		}

		.top-info .btn-action-list {
			i {
				// width: 49px;
				// height: 49px;
				// background-size: contain;
			}
		}
	}
}

.message-popup {
	width: auto;
	background: $color01;
	border-radius: 10px;
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	color: white;
	font-size: 15px;
	padding: 25px 30px;
	z-index: 9;
	width: 380px;
	transition: all .15s ease;
}









































