.userlogin-action {
	&.search-suggestion li {
		a span {
			width: 37px;
			display: inline-block;
		}

		i {
			top: 5px;

			&.icon-setting {
				top: 6px;

				&:before {
					display: none;
				}
			}
		}

		&:first-child {
			border-bottom: 1px solid $color02;

			a {
				font-weight: bold; 
			} 
		}
	}
}

.profile-tabs {
	border: none;

	li {
		border-bottom: 1px solid $color02;

		&:last-child {
			border-bottom: none;
		}

		a {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			@include fontSize(15px);
			color: $color01;

			i {
				display: block;
				@include fontSize(30px);
				margin-bottom: 10px;
				color: $color-green;
			}

			&[aria-selected='true'] {
				color: white;
				background-color: $color-green;

				i {
					color: white;
				}
			}

		}
	} 
}

.tabs-title > a:hover {
    color: inherit;
}

.profile-tabs-content {
	border: none;

	.tabs-panel {
		padding: 0;
		border: none;
	}
}

.content-empty {
	@include flexcenter();
	flex-flow: column;
	margin: auto;
	text-align: center;
	min-height: 400px;

	p {
		@include fontSize(20px);

		a {
			color: $color-green;
			@include fontSize(20px);

			&:hover,
			&:focus {
				color: $color-green;
				text-decoration: underline;
			}
		}
	}

	a {
		@include fontSize(15px);
	}

	@media #{$tabletonly} {
		margin: 150px auto;
	}

	@media #{$mobile} {
		margin: 50px auto;

		p {
			@include fontSize(18px);

			a {
				@include fontSize(18px);
			}
		}
	}

	&.content-empty2 {
		margin-top: -184px;

		@media #{$mobile} {
			margin-top: 0;
		}
	}

	&.content-empty3 {
		margin-top: 0;
		height: 360px !important;
		min-height: auto;

		color: white;

		img {
			max-width: 35%;
		}

		span {
			display: block;
			@include fontSize(14px);
		}

		.button {
			display: inline-block;
			margin-top: 15px;
			padding: 0 30px;
		}

		@media #{$mobile} {
			margin-top: 0;
		}
	}
}

.reveal {
	.content-empty {
		margin: 50px auto;
		height: auto !important;
	}
}

.ribbon-list-container {
	&.add-channel-section {
		margin: 20px 0 0;

		.slides {
		    flex-flow: wrap;
			max-height: 440px;
			overflow: auto;
			width: calc(100%);
			padding-top: 2px;
			padding-left: 2px;

		    @media #{desktopsmall} {
				max-height: 465px;
			}

			li {
				width: calc(100% / 3 - 20px);
				margin: 0 10px 10px;
				float: left;			

				a {
					&:hover,
					&.selected {
						box-shadow: 0 0 0 2px $color-green;
					}
				}
			}
		}
	}

	.slides {
		> li > a.add-channel {
			background-color: white;
			border: 1px dashed $color02;

			span {
				@include position-middle();
				@include flexcenter();
				flex-flow: column;
				color: $color01;

				i {
					@include fontSize(45px);
					color: $color03;
				}

				@media #{$tablet} {
					@include fontSize(14px);
				}
			}
		}
	} 

	a.change-name {
		color: $color01;
	    display: inline-block;
	    margin-left: 5px;
	    position: relative;
	    top: 1px;

		i {
			@include fontSize(18px);
		}
	}
} 

.pl-2 {
	padding-left: 20px !important;
}

.w-857 {
	width: 857px;

	@media #{$tabletonly} {
		width: 520px;
	}

	@media #{$mobile} {
		width: 320px;
	}
}

.tabs-panel {
	.slides {
		.add-to-wishlist {
			top: auto;
			left: auto;
			bottom: 10px;
			right: 10px;
			color: $color-green;
		}
	}
}

.ttl-modal {
	@include fontSize(20px);
}

#addChannelModal {
	.input-search {
		position: relative;
		margin-top: 10px;

		input {
			max-width: none;
			padding: 0 20px;
			@include border-radius(15px);
			height: 30px;
			@include fontSize(14px);
		}

		.button-search {
			@include position(absolute, $top: 5px, $right: 10px);
			@include fontSize(20px);
			color: $color-grey;
		}
	}
}

.input-round {
	max-width: none;
	padding: 0 20px;
	@include border-radius(15px);
	height: 30px;
	@include fontSize(14px);
}

.close-button, .close-button.medium {
    span {
		font-size: 32px;
	}
}

.setting-content {
	ul {
		li {
			padding: 30px 0 37px;
			border-bottom: 1px solid $color07;

			& + li {
				margin-top: 8px;
				
				h3 {
					margin-bottom: 0;
				}
			}

			&:last-child {
				margin-top: 4px;

				h3 {
					margin-bottom: 16px;
				}
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
			}

			h3 {
				@include fontSize(20px);
				margin-bottom: 19px;
			}

			div {
				margin-bottom: 11px;

				* {
					display: inline-block;
					@include fontSize(15px);
					color: $color01;
				}
			}

			.label {
				width: 267px;
				padding-left: 0px;
				background: none;

				& + span {
					font-weight: bold;
				}
			}

			a {
				color: $color-green;
				@include fontSize(15px);
				display: block;

				&:hover	{
					text-decoration: underline;
				}
			}

			.switch {
				margin: 0;
				top: 11px;
			}
		}
	}
}

.switch {
	.switch-paddle {
		border-radius: 20px;
	    width: 57px;
    	height: 32px;

		&:after {
			border-radius: 100%;
		    top: 0.17rem;
		    left: 2px;
		    display: block;
		    width: 28px;
		    height: 28px;
		}
	}

	input:checked ~ .switch-paddle {
		background: $color-green;

		&:after {
			left: 27px;
		}
	}
}



.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.content-modal {
	.loading-avatar {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 460px;

	    img {
	    	width: 100px;
	    }
	}
}

.change-avatar {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;

	i {
		@include fontSize(30px);
		color: white;
		cursor: pointer;
		z-index: 9;
		position: relative;
		display: block;

		&.icon-camera {
			&:before {
				display: none;
			}
		}
	}

	input {
		width: 35px;
	    height: 35px;
	    overflow: hidden;
	    margin: 0;
	    display: block;
	    position: absolute;
	    top: 0;
	    z-index: 10;
	    opacity: 0;
	    cursor: pointer;
	}
}

.box-2 {
	width: 100%;
	max-height: 460px;
	overflow: hidden;
}

.options label,
.options input{
	width:4em;
	padding:0.5em 1em;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}
















