.h2-ttl {
	@include fontSize(20px);
	color: $color-green;
	margin-bottom: 15px;
	text-transform: uppercase;

	a {
		display: inline-block !important;
		color: $color-green;
	}

	span {
		min-width: 20px;
	}

	i {
		@include fontSize(30px);
		position: relative;
		display: inline-block;
		top: 2px;
		left: 0;
		margin-right: 10px;
	}
}

.ribbon-list-container {
	margin: 40px 0 50px;

	a {
		cursor: pointer;
		display: block;
		position: relative;
		

		.btn-play {
			@include fontSize(60px);
			@include position-middle();
			@include transitionStyle(opacity 0.1s ease-in-out);
			color: white;
			opacity: 0;
			background-color: rgba(0,0,0,0.3);
			border-radius: 10px;

			&:before {
				@include position-middle();
				width: max-content;
			    display: inline-block;
			    height: max-content;
			}
		} 

		.btn-watch-later {
		    color: white;
		    top: 5px;
		    right: 5px;
		    opacity: 0;

		    &:hover {
		    	opacity: 0.9;
		    	color: white;
		    }
		}

		&:hover {
			.btn-play,
			.btn-watch-later {
				opacity: 1;
				color: white;
			}

			.btn-play-small { 
				background-color: rgba(0,0,0,0.3);

				&:after {
					display: block;
				}
			}

			.btn-action-list {
				opacity: 1;
			}
		}
	}

	.item-ttl {
		@include fontSize(16px);
		color: $color01;
		margin: 3px 0 0;
		@include truncate(100%);
	}

	.info-content {
		position: relative;
	}

	.item-info {
		display: flex;
		color: $color03;
		margin-top: -3px;
		@include fontSize(11px);
		@include truncate(100%);

		div {
			position: relative;

			& + div {
				margin-left: 33px;

				&:before {
					content: '';
				    display: block;
				    @include position-tb();
				    width: 3px;
				    height: 3px;
				    border-radius: 3px;
				    background: $color03;
				    left: -19px;
				}
				@media #{$tablet} {
					margin-left: 17px;

					&:before {left: -10px;}  
				}
			}

			i {
				color: $color04;
				@include fontSize(12px);
				line-height: 0;
			}
		}
	}

	.progress {
		height: 5px;
		background-color: rgba(255,255,255,0.5);
		border-radius: 5px;
		@include position-lr();
		display: block;
		bottom: 0;
		width: calc(100% - 15px);
		z-index: 2;

		.progress-meter {
			border-radius: 5px;
			background-color: $color-green;
		}
	}

	.item-hd {
		@include fontSize(12px);
		font-weight: bold;
	    text-transform: uppercase;
	    padding: 12px 10px 12px 5px;
	    background: rgba(74,74,74,0.8);
	    color: white;
	    border-radius: 0 100% 100% 0;
	    position: absolute;
	    top: 10px;
	    left: 0;
	    font-style: normal;
	    line-height: 0;
	    height: 26px;
	    width: auto; 
	}

	.slides li {
		display: inline-block;

		&.active {
			.item-ttl {
				color: $color-green;
			}
		}

		ul {
			margin: 0;

			li {
				margin-bottom: 30px;
				width: 100%;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.main-item {
			/*width: 526px !important;

			img {
				width: 526px !important;
				height: 380px !important;
			}*/

			a .btn-play {
				@include fontSize(100px);
			}
		}
	}

	.slides {
		.thumbnail,
		li > a {
			border: 0;
			border-radius: 6px;
			overflow: hidden;
			background-color: $color02;
			padding-bottom: $padding-ratio-16-9;
			position: relative;
		}

		.thumbnail { 
			margin-bottom: 0; 
		}

		img {
		    border-radius: 6px;
		    @include position-middle();
		}

		li.main-item a {
			padding: 0;
			overflow: visible;

			img {
				position: relative; 
			}
		}
	}
}

.flex-direction-nav {
    position: absolute;
    top: -44px;
    right: 0;
}

.carousel li {
    display: inline-block;
}

.align-right {
	text-align: right;
}