.orbit {
	overflow: hidden;
}

.orbit-slide {
	position: relative;
	height: 0;
	padding-bottom: 36.50%;

	&:before {
    	content: '';
    	display: block;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    bottom: 0;
    	z-index: 1;

    	background: -moz-linear-gradient(81deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 7%, rgba(0,0,0,0.37) 34%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(43%, rgba(0,0,0,0)), color-stop(66%, rgba(0,0,0,0.37)), color-stop(93%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0.8))); /* safari4+,chrome */
background: -webkit-linear-gradient(81deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 7%, rgba(0,0,0,0.37) 34%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(81deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 7%, rgba(0,0,0,0.37) 34%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(81deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 7%, rgba(0,0,0,0.37) 34%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 100%); /* ie10+ */
background: linear-gradient(9deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 7%, rgba(0,0,0,0.37) 34%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */

	}
}

.orbit-caption {
	color: white;
	background: none;
	padding: 0;
	width: calc(100%/12 * 5);
	bottom: 15%;
	z-index: 2;

	h2 {
		text-transform: uppercase;
		@include fontSize(40px);
		text-shadow: 0 0 15px black;
		@include truncate(100%);
	}

	p {
		@include fontSize(20px);
	    margin: 10px 0 25px 0;
	    line-height: 24px;
	    max-height: 75px;
	    overflow: hidden;
	}

	.button-style {
		background: none;
		border-radius: 40px;
		height: 40px;
		@include fontSize(20px);
		border: 1px solid white;
		padding: 7px 50px 7px 30px;
		color: white;
		position: relative;
		cursor: pointer;
		line-height: 25px;
		display: inline-block;
		box-shadow: 0 0 15px -2px black;

		i {
			@include fontSize(40px);
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 3px;
			color: $color-green;
		}

		&:hover {
			color: $color-green;
			border-color: $color-green;

			i {
				color: white;
			}
		}
	}

	
	@media #{$desktopsmall} {
		h2 {
			@include fontSize(34px);
		}

		p {
			@include fontSize(18px);
		}

		.button-style {
			@include fontSize(18px);
		}
	}


	@media #{$tablet} {
		h2 {
			@include fontSize(30px);
		}

		p {
			@include fontSize(15px);
		}

		h2 {
			font-weight: 300;
		}

		p {
			font-weight: 300;
		}
	}

	@media #{$tabletonly} {
		h2 {
			@include fontSize(24px);
		}

		p {
			@include fontSize(15px);
			line-height: 18px;
		}
	}
}

.hidden {
	display: none;
}

.orbit-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 36.50%;

	
}

.orbit-container {
	height: 0 !important;
	padding-bottom: 36.50%;
}

.orbit-image {
	/*max-height: 695.31px;*/
}

.orbit-bullets {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	margin: auto;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: right;
	z-index: 1;

	&:after {
    	background-color: rgba(0,0,0,0.5);
    	content: '';
    	display: block;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	right: -100%;
    	top: 0;
    }

	button {
		border-radius: 0;
		display: block;
		@include fontSize(25px);
		color: white;
		text-transform: uppercase;
		padding: 10px 0;
		width: 100%;
		height: auto;
		margin: 0;
		background: none;
		cursor: pointer;
		text-align: left;

		&:hover,
		&.is-active {
			color: $color-green;
			background: none;
			outline: none;
		}

		&:focus {
			outline: none;
		}
	}

	.orbit-bullets-link {
		background-color: rgba(0,0,0,0.5);
	    margin: auto 0;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: auto;
	    position: absolute;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-flow: column;
	    padding: 40px;
	}

	@media #{$tablet} {
		button {
			@include fontSize(18px);
			padding: 7px 0;
			font-weight: 300;
		}
	}

	@media #{$desktopsmall} {
		button {
			@include fontSize(20px);
			padding: 7px 0;
		}
	}
}