.category-section {
	margin: 20px auto 10px;

	.h2-ttl {
		margin-bottom: 20px;
	}

	.slides {
		display: flex;
	    flex-flow: wrap;
	    width: calc(100% + 20px);
	    margin-left: -10px;

	    li {
    	    display: inline-block;
		    margin: 0 10px 40px;
		    width: calc(100%/6 - 20px);

		    /*@media #{$tablet} {
		    	width: calc(100%/4 - 20px);
		    }

		    @media #{$mobile} {
		    	width: calc(100%/2 - 20px);
		    }*/
	    }
	}

	&.video-artist {
		.slides {
		    li {
			    width: calc(100%/5 - 20px);

			    /*@media #{$tablet} {
			    	width: calc(100%/4 - 20px);
			    }

			    @media #{$mobile} {
			    	width: calc(100%/2 - 20px);
			    }

			    @media #{$tabletonly} {
			    	width: calc(100%/3 - 20px);
			    }*/
		    }
		}
	}
}

.artist-section {
	@include border-radius(10px);
	background: white;
	box-shadow: 0px 1px 20px -5px $color01;
	border: none;
	display: block;
	overflow: hidden;
	margin-right: 40px;
	margin-bottom: 30px;

	.artist {
		position: relative;
		display: block;
		border-bottom: 1px solid $color02;
		background-size: cover;
		background-position: top center;

		img {
			display: none;
			width: 100%;
			height: auto;
		}

		.img-artist {
			position: relative;
			height: 0;
			padding-bottom: 100%;
			background-size: cover;

			&.img-result img {
				display: block;
			}

			&:after {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				bottom: 0;
				background: rgba(248,80,50,0);
				background: -moz-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(253,194,183,0) 65%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0)), color-stop(65%, rgba(253,194,183,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(253,194,183,0) 65%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(253,194,183,0) 65%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(253,194,183,0) 65%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(253,194,183,0) 65%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ffffff', GradientType=0 );
			}
		}

		.artist-info {
			bottom: 0;
			padding: 27px 20px;
			color: $color01;

			h3 {
				@include fontSize(20px);
			}

			p {
				@include fontSize(15px);
				padding: 5px 0 0;
    			overflow: hidden;
			}
		}
	}

	.artist-relative {
		padding: 30px 20px;

		p {
			@include fontSize(15px);
			text-transform: uppercase;
		}

		ul {
			margin-top: 20px;
			li {
				display: block;
				padding: 10px 0;
				text-align: center;

				a {
					display: inline-block;
					width: 100px;
					height: 100px;
					border-radius: 100%;
					overflow: hidden;

					img {
						width: 100px;
						height: 100px;
					}
				}

				p {
					display: block;
					@include fontSize(15px);
					text-transform: none;
				}
			}
		}
	}

	@media #{$tablet} {
		margin-right: 20px;
	}

	@media #{$mobile} {
    	margin-right: 0;
    }
}


.h3-ttl {
	@include fontSize(20px);
	color: $color01;
	margin-bottom: 20px;
	font-weight: 300;

	span {
		text-transform: uppercase;
	}
}

.category-section {
	.see-search-more {
		a {
		    width: 100%;
		    height: 142px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-flow: column;
		    color: $color01;
		    transition: opacity .15s linear;

		    @media #{$tablet} {
		    	height: 95px;
		    }

		    @media #{$mobile} {
		    	height: 78px;
		    }

		    i {
		    	@include fontSize(30px);
		    	color: $color-grey;
		    	margin-bottom: 10px;
		    }

		    span {
		    	color: $color-green;
		    }

		    &:hover {
		    	opacity: 0.7;
		    }

		    div {
	    	    position: absolute;
			    top: 0;
			    bottom: 0;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-flow: column;
		    }
		}
	}

	&.search-result-list .slides li {
		margin-bottom: 20px; 
	}
}

.search-page {
	.dropdown.menu.menu-style-selectbox {
		> li {
			padding-top: 0;

			> a {
				margin-top: 3px;
				min-width: 110px;
			}
		}

		.is-dropdown-submenu.vertical-2  {
			padding: 5px 0 40px;

			p {
				@include fontSize(13px);
				color: $color03;
				padding: 10px 20px; 
			}
		}

		.submenu.vertical-2 {
			min-width: 450px;
			right: 0;

			li {
				margin-right: 5px;

				&:last-child {
					margin-right: 0;
					margin-left: 5px;
				}
			}

			@media #{$mobile} {
				min-width: 100%;
			}
		}

		a.sort {
		    display: inline-block;
		    position: absolute;
		    bottom: 10px;
		    right: 20px;
		    padding: 0 20px;
		    margin: 0;
		}
	}
}



.coming-soon {
	width: 100vw;
	height: 100vh;
	background-color: $colorbg;
}

.state-section {
	@include flexcenter();
	text-align: center;

	.content {
		h2 {
			@include fontSize(20px);
			color: $color01;
			margin-top: 20px;
		}
	}
}


/*Landing page APP*/
.app-landing-page {
	text-align: center;
	display: flex;
	align-items: center;
	flex-flow: column;
	padding: 60px 60px 0;
	height: 100vh;
	background: rgba(252,252,252,1);
background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(14%, rgba(252,252,252,1)), color-stop(100%, rgba(238,238,238,1)));
background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 100%);
background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 100%);
background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 100%);
background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0 );

	.app-logo {
		margin-bottom: 90px;
	}

	.app-content {
		p {
			@include fontSize(24px);
			color: $color01;
			text-align: center;
			margin: 50px 0 60px;
			font-weight: 500;
			line-height: 1.4;
		}
	}

	.app-link {
	    display: flex;
    	justify-content: space-between;

		a {
			width: 47%;
			transition: all 0.15s linear;

			&:hover,
			&:focus {
				opacity: 0.7;
			}
		}
	}

	@media #{$mobile} {
    	padding: 20px 40px;
		justify-content: space-between;
		align-items: center;

    	.app-logo {
			margin-bottom: 0;

			img {
				max-width: 70%;
			}
		}

		.app-content {
			img {
				max-width: 70%;
			}

			p {
				@include fontSize(20px);
				margin: 20px 0 0;
			}
		}
	} 
	
	@media (max-width: 320px) and (max-height: 480px) {
		.app-content {
			img {
				max-width: 55%;
			}

			p {
				@include fontSize(16px);
			}
		}
	}
}

#image_default {width: 100%; border-radius: 10px;}
.videoPlayer-dimensions.vjs-fluid {
	padding-top: $padding-ratio-16-9 !important;
}
.video-js .vjs-tech {border-radius: 10px;}













































