footer {
	background: black;

	.footer-top {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.footer-left {
		h2 {
			color: $color-green;
			@include fontSize(15px);
			text-transform: uppercase;

			a {
				display: block;
				margin-top: 50px;
			}
		}
	}

	.footer-menu {
		.menu {
			.title {
				color: $color-green;
				@include fontSize(15px);
				text-transform: uppercase;
				display: block;
				margin-bottom: 20px;
			}

			li a {
				@include fontSize(15px);
				@include transitionStyle(opacity 0.1s ease-in-out);
				color: $color03;
				padding: 3px 0;
				text-transform: none;

				&:hover {
					opacity: 0.8;
				}
			}

			@media #{$mobile} {
		    	.title {
		    		margin-top: 20px;
		    		margin-bottom: 10px;
		    	}
		    }
		}
	}

	.footer-copy {
		border-top: 1px solid #111111;
		color: $color03;
		padding: 20px 0;

		.align-right {
			display: flex;
			align-items: center;
			color: $color03;
			@include fontSize(15px);
			text-transform: none;

			* {
				display: inline-block;
			}

			a {
				width: 120px;
				height: 42px;
				background-repeat: no-repeat;
				margin-left: 20px;
				@include transitionStyle(opacity 0.1s ease-in-out);

				&.button-ios {
					background-image: url(img/ios.png);
					margin-left: 30px;
				}

				&.button-android {
					background-image: url(img/android.png);
				}

				&:hover {
					opacity: 0.7;
				}
			}

			@media #{$mobile} {
		    	flex-flow: column;

		    	* {
					margin-bottom: 10px;
				}

				a {
					margin-left: 0 !important;
				}
		    }
		}
	}

	address {
		color: $color03;
		@include fontSize(15px);
		padding: 3px 0;
		font-style: normal;
	}

	&.footer-sticky {
		position: fixed;
		bottom: 0;
		width: 100%;
		display: block;
		z-index: 10;
	}
}