.section-info {
	padding: 20px 0 50px; 

	* {
		color: $color01;
	}

	h2 {
		@include fontSize(20px);
		text-transform: uppercase;
		margin: 10px 0 10px;
	}

	h3 {
		@include fontSize(15px);
		font-weight: 500;
		text-transform: uppercase;
		margin: 20px 0 15px;
	}

	p {
		display: block;
	}

	a {	
		color: $color-green;

		&:hover,
		&:focus {
			color: $color-green;
			text-decoration: underline;
		}
	}
} 