body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	overflow-y: auto !important;

	&.is-reveal-open {
		overflow: auto;
	}
}

.icon-flipped {
	&:before {
		transform: scaleX(-1);
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
	}

}

header {
	background-color: white;
	transition: all .25s ease; 
	z-index: 100;
	position: relative;
	box-shadow: 0px 0px 20px -5px $color01; 

	> .grid-container {
		@media #{$mobile} {
			padding: 0;
		}
	}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
} 

.sticky + section {
  padding-top: 60px;
}

[data-simplebar] {
  overflow: auto;
}

.top-bar {
	background: none;
	padding: 9px 0 7px;

	ul {
		background: none;

		li {
			position: relative;
		}
	}

	.top-bar-left {
		.menu-text,
		.logo {
			padding: 0 25px 0 0;
		}

		.logo {
			padding: 3px 0 0 6px;
		}

		input {
			max-width: none;
			padding: 0 20px;
			@include border-radius(15px);
			height: 30px;
			@include fontSize(14px);
		}

		.button-search {
			@include position(absolute, $top: 5px, $right: 10px);
			@include fontSize(20px);
			color: $color-grey;
		}
	}

	.top-bar-right {
		ul li {
			margin-right: 43px;

			&.first-item {
				margin-right: 55px;
			}

			&.login {
				margin-right: 0;

				a {
					padding-right: 0;
					text-transform: capitalize;
					padding-top: 15px;
				}
			}

			@media #{$tablet} {
				margin-right: 10px;

				&.first-item {
					margin-right: 15px;
				}
			}
		}

		.submenu {
			background: white;
			padding: 10px 0;
			min-width: 290px;

			&:after,
			&:before {
			    content: '';
			    display: none;
			    @include position-lr();
			    width: 0;
			    height: 0;
			}

			&:before {
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid $color02;
				top: -7px;
			}

			&:after {
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 6px solid white;
				top: -6px;
			}

			li {
				margin: 0;

				a {
					@include fontSize(14px);
					text-transform: uppercase;
					color: $color01;
					transition: all .15s linear;

					&:hover {
						background: $color02;
					}
				}

				&:first-child {
					border-right: 1px solid $color02;
				}
			}
		}

		> .menu {
			> li {
				 > a {
					@include fontSize(14px);
					color: $color-black-secondary;
					text-transform: uppercase;
					font-weight: 500;
					padding: 15px 1rem 15px 40px;
					position: relative;

					i {
						@include position-tb();
						color: $color-green;
						left: 0;
						display: inline-block;

						&.fa-angle-down {
							@include fontSize(15px);
							color: $color01;
							right: 0;
							left: auto;
							top: 14px;
						}
					}

					&:before {
						content: '';
						position: absolute;
						width: 100%;
						height: 0px;
						border-bottom: 2px solid $color-green;
						bottom: -7px;
						left: 0;
						-webkit-transform: scaleX(0);
						-ms-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: -webkit-transform 0.2s ease-in;
						transition: transform 0.2s ease-in;
					}

					&.active {
						color: $color-green;
					}

					&:hover:before,
					&.active:before {
						-webkit-transform: scaleX(1);
						-ms-transform: scaleX(1);
						transform: scaleX(1);
						opacity: 1;
					}
				}

				&.is-dropdown-submenu-parent > a {
					&:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 0px;
						border-bottom: 2px solid $color-green;
						bottom: -7px;
						left: 0;
						top: auto;
						-webkit-transform: scaleX(0);
						-ms-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: -webkit-transform 0.2s ease-in;
						transition: transform 0.2s ease-in;
					}

					&:hover:after,
					&.active:after {
						-webkit-transform: scaleX(1);
						-ms-transform: scaleX(1);
						transform: scaleX(1);
						opacity: 1;
					}
				}

				&:last-child > a {
					padding-left: 10px;
					padding-right: 10px;
					text-transform: none;
				}

				&.login {
					a {
						&:hover:before,
						&.active:before {
							display: none;
						}
					}
				}
			}
		}

		.menu.vertical {
			flex-direction: row;

			&.js-dropdown-active {
				display: flex;
			}
		}

		.islogined {
			display: flex;
			align-items: center;

			a {
				display: inline-block;
				margin-left: 10px;
				position: relative;
				padding: 0;
				cursor: pointer;

				&:hover {
					&:before {
						display: none;
					}
				}
			}

			.notify {
				margin-left: 0;
    			top: 8px;
    			padding: 0;
    			display: inline-block;
				position: relative;
				cursor: pointer;
				width: 30px;
    			height: 40px;

				&:hover {
					&:before {
						display: none;
					}
				}

				&.menu-active {
					&:before {
						display: none;
					}

					.notify-list {
						display: block;
					}
				}

				> i {
					@include fontSize(20px);
					color: black;
					margin: 0;
				}

				> span {
					width: 13px;
					height: 13px;
					background-color: red;
					border-radius: 100%;
					position: absolute;
					top: -3px;
					right: 10px;
					@include fontSize(9px);
					color: white;
					display: flex;
					font-weight: 500;
					align-items: center;
					justify-content: center;
				}

				.notify-list {
					display: none;
				    width: 510px;
				    left: auto;
			    	right: -10px;
				    margin: -5px 0 0;

				    > p {
				    	display: block;
				    	border-bottom: 1px solid $color02;
				    }

				    a {
				    	text-transform: none !important;
				    }

				    @media #{$desktopsmall} {
				    	&.search-suggestion {
					    	&:before,
					    	&:after {
					    		right: 30px;
					    		left: auto;
					    	}
					    }
				    }

				    &.search-suggestion {
				    	&:after,
				    	&:before {
				    		left: auto;
				    		right: 22px;
				    		display: block;
				    	}
				    	&:before {
				    		right: 21px;
				    	}
				    }


				    @media #{$tablet} {
				    	right: -50px;

				    	&.search-suggestion {
					    	&:after,
					    	&:before {
					    		left: auto;
					    		right: 61px;
					    	}
					    	&:before {
					    		right: 60px;
					    	}
					    }
				    }

				    .empty-notify {
				    	display: flex;
				    	align-items: center;
				    	justify-content: center;
				    	padding: 70px 0;
				    	flex-flow: column;

				    	img {
				    		display: block;
				    		margin-bottom: 30px;
				    	}
				    }

				    ul {
				    	padding-top: 5px;
				    	max-height: 545px;
				    }

				    li {
				    	margin: 0;
				    	transition: all .15s linear;

				    	> a {	
				    		display: flex;
				    		justify-content: space-between;
				    		transition: all .15s linear;
						    padding: 0.7rem 1rem;
						    line-height: 1;
						    color: $color01;
						    margin: 0;

				    		img {
				    			width: 150px;
				    			height: 100%;
				    			border-radius: 10px;
				    			overflow: hidden;
				    		}

				    		> div {
				    			width: calc(100% - 170px);
				    		}

				    		h4 {
				    			@include truncate(100%);
				    		    @include fontSize(15px);
							    font-weight: 500;
							    padding-right: 10px;
				    		}

				    		p {
				    			@include fontSize(15px);

				    			span {
				    				display: block;
				    				text-align: right;
				    				color: $color03;
				    				position: absolute;
								    right: 20px;
								    bottom: 5px;
				    			}
				    		} 
				    	}

				    	&:hover {
					    	background: $color02;
					    }

				    	.unread-option {
				    		position: absolute;
						    right: 5px;
						    top: 0;
						    padding: 5px;
						    display: none;
						    z-index: 3;

						    i {
						    	margin-right: 0;
						    }

						    &-list {
						    	right: 3px;
						    	left: auto;
						    	margin-top: 2px;
						    	padding: 5px 0;
						    	min-width: 160px;

						    	&.search-suggestion {
							    	&:after,
							    	&:before {
							    		left: auto;
							    		right: 6px;
							    		display: block;
							    	}
							    	&:before {
							    		right: 5px;
							    	}
							    }

							    a {
							    	margin: 0;
							    	display: block;
							    	padding: 10px 20px;
							    }
						    }

						    &:hover {
						    	.unread-option-list {
						    		display: block;
						    	}
						    }
				    	}

				    	&.unread:hover .unread-option {
				    		display: block;
				    	}
				    }
				}
			}

			.user-action {
				position: relative;
				height: 40px;
				top: 2px;

				.search-suggestion {
					right: -10px;
    				left: auto;
    				margin-top: 1px;

    				&:before {
    					top: -7px;
    				}

    				&:before,
    				&:after {
					    right: 20px;
    					left: auto;
    					display: block;
    				}

    				ul li {
    					margin-right: 0;

    					a {
    						padding: 4px 20px 11px;
    						display: block;
    						margin: 0;
    					}
    				}
				}

				&.menu-active {
					.userlogin-action {
						display: block;
					}
				}
			}

			.avatar {
				width: 35px;
				height: 35px;
				overflow: hidden;
				border-radius: 100%;
				padding: 0;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.gly-rotate-45 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border: none;
	content: "\f107";
	font-family: FontAwesome;
	right: 8px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 15px;
}

.dropdown.menu > li.opens-left > .is-dropdown-submenu {
	left: -14px;
}

.dropdown .is-dropdown-submenu a {
	padding: 10px 20px;
}

.is-dropdown-submenu > li {
	width: 50%;
}

.nav-pagination {
	text-align: center;
	margin-bottom: 40px;

	.pagination-previous {
		a::before,
		&.disabled::before {
			content: "\f104";
			font-family: FontAwesome;
			margin: 0;
			@include fontSize(25px);
		}
	}

	.pagination-next {
		a::before,
		&.disabled::before {
			content: "\f105";
			font-family: FontAwesome;
			margin: 0;
			@include fontSize(25px);
		}

		a::after,
		&.disabled::after {
			display: none;
		}
	}

	.pagination {
		margin-left: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;

		.disabled {
			padding: 0;
		}

		li {
			width: 30px;
			height: 30px;
			text-align: center;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $color02;
			border-radius: 100%;
			margin: 0 5px;
			overflow: hidden;

			&.ellipsis {
				border: none;
			}
		}

		a {
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			&:hover {
				background: $color-green;
				color: white;
			}
		}

		.current {
			background: $color-green;
		}
	}
}

.float-right {
	float: right;
}

.dropdown.menu > li.is-dropdown-submenu-parent {
	/*&:hover,
	&.is-active {
		> a {
			&:before {
				opacity: 1;
			}
		}
	}*/

	> a {
		position: relative;

		&:before {
		    content: '';
		    display: block;
		    position: absolute;
		    width: 0;
		    height: 0;
		    z-index: 3;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 7px solid white;
			bottom: 0;
			right: -3px;
			left: auto;
			opacity: 0;
		}
	}
}

.submenu {
	background: white;
	padding: 10px 0;
	border-radius: 5px;
	border-color: $color02;
	min-width: -webkit-fill-available;

	li {
		margin: 0;
		width: 100%;

		a {
			@include fontSize(15px);
			color: $color01;
			transition: all .15s linear;
			white-space: nowrap;

			&:hover,
			&.active {
				background-color: $color02;
			}
		}
	}
}

.dropdown.menu {
	z-index: 9;

	&.menu-style-selectbox {
	    margin-left: auto;
		flex-flow: row-reverse;

		&.menu-right > li.opens-right > .is-dropdown-submenu {
			right: 3px;
    		left: auto;
		}

		.menu.vertical-2 {
			flex-direction: row;
		}

		.is-dropdown-submenu.js-dropdown-active {
			display: flex;
		}


		> li {
			padding: 5px 0 5px;
			margin: 0;

			&:after {
				display: none;
			}

			> a {
				border: 1px solid $color03;
			    border-radius: 20px;
			    padding: 6px 20px 7px;
			    min-width: 200px;
			    @include fontSize(15px);
			    text-transform: none;
			    color: $color01;
			    margin-top: 7px;
			}
		}

		> li.is-dropdown-submenu-parent > a::after {
			top: -3px;
			right: 30px;
		}

		> li.is-dropdown-submenu-parent > a:before {
		    bottom: -6px;
    		right: 18px;
		}

		.submenu {
			min-width: 200px;
		}

		@media #{$mobile} {
	    	margin-left: unset;
		    flex-flow: unset;
		    width: 100%;

		    > li {
		    	width: 100%;
		    }
	    }
	}
}

.nav-top {
	background: white;
	border-radius: 40px;
	box-shadow: 0px 0px 30px -10px $color01;
	margin: 0 0 30px;
	padding-right: 20px;

	.dropdown.menu {
		&.menu-right {
			> li {
				padding-right: 0;
				padding-top: 4px;
			}
		}

		> li {
			padding: 12px 20px 10px;
			position: relative;

			&:after {
				content: "\f105";
				font-family: FontAwesome;
				margin: 0;
				@include fontSize(30px);
				color: $color02;
				position: absolute;
				top: 0;
				bottom: 0;
				right: -18px;
				margin: auto;
			}

			> a {
				color: $color-green;
				@include fontSize(18px);
				text-transform: uppercase;
			}

			&.is-dropdown-submenu-parent > a::after {
				top: -5px;
				color: $color02;
			}

			&.is-dropdown-submenu-parent > a::before {
			    bottom: -5px;
			}

			/*&:hover {
				.submenu {
					display: block;
				}
			}*/

			&:last-child {
				&:after {
					display: none;
				}
			}

			&.opens-right > .is-dropdown-submenu {
				margin-top: -7px;
			}
		}

		&.menu-style-selectbox > li > a {
			border: 1px solid $color03;
		    border-radius: 20px;
		    padding: 5px 20px;
		    min-width: 150px;
		    @include fontSize(15px);
		    text-transform: none;
		    color: $color01;
		    margin-top: 7px;
		}

		li, a {
			transition: all .15s linear;
		}

		a {
			padding: 5px 20px;
		}
	}

	@media #{$mobile} {
    	border-radius: 10px;
    }

	> .menu {
		> li > a {
			@include fontSize(14px);
			color: $color-black-secondary;
			font-weight: bold;
			padding: 4px 1rem 12px 5px;
			position: relative;

			i {
				@include fontSize(26px);
				color: $color-green;
				margin-right: 20px;
				position: relative;
				top: 3px;
			}

			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 0px;
				border-bottom: 2px solid $color-green;
				bottom: -7px;
				left: 0;
				-webkit-transform: scaleX(0);
				-ms-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: -webkit-transform 0.2s ease-in;
				transition: transform 0.2s ease-in;
			}

			&:hover:before,
			&.active:before {
				-webkit-transform: scaleX(1);
				-ms-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
	}
}

.is-dropdown-submenu {
	@include border-radius(5px);
	background: white;
	box-shadow: 0px 1px 20px -5px $color01;
	border: none;
}

.search-suggestion {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: 5px;
	z-index: 11;

	&:after,
	&:before {
	    content: '';
	    display: none;
	    @include position-lr();
	    width: 0;
	    height: 0;
	}

	&:before {
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $color02;
		top: -7px;
	}

	&:after {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid white;
		top: -5px;
	}


	> p {
		@include fontSize(15px);
		padding: 6px 20px;
		@include clearfix();

		> a {
			color: $color-green;
			float: right;
			padding: 6px 0 0 !important;

			&:hover {
				opacity: 0.8;
				background: none;
			}
		}
	}

	a {
		@include fontSize(15px);
		color: $color01;
		transition: all .15s linear;
		padding: 6px 20px 11px;

		&:hover {
			background: $color02;
		}
	}

	ul {
		margin: 0;
		padding-bottom: 5px;
		padding-top: 5px;
		max-height: 350px;
		overflow-y: auto;

		&.list-search {
			border-top: 1px solid $color02;
		}
	}

	li {
		display: block;

		i {
			margin-right: 10px;
			@include fontSize(20px);
			position: relative;
			top: 3px;
			color: $color-grey;
			display: inline-block;
			text-align: center;
		}

		.search-line i {
			width: 20px;
		}
	}
}

.w100 {
	width: 100%;
}
.w-520 {
	width: 520px;
}

.login-form {
	> input {
		margin-bottom: 30px;
	}

	> a,
	> p {
		margin-bottom: 20px;
	}

	.social i {
		width: 40px;
		height: 40px;
		@include fontSize(20px);
		margin: 0 5px;
	}
}

.input-field {
	position: relative;
	margin-bottom: 30px;

	.input-style {
		border-color: $color03;
		border-radius: 20px;
		height: 40px;
		@include fontSize(15px);
		padding-left: 60px;
		margin-bottom: 0;
	}

	i {
		width: 50px;
		height: 38px;
		@include fontSize(27px);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		border-right: 1px solid $color02;
	    align-items: center;
    	display: flex;
    	justify-content: center;
    	color: $color03;
	}

	i[class*="password"] {
	    left: auto; 
	    right: 0;
	    border: 0;
	    @include fontSize(18px);
	    cursor: pointer;
	}
}

.option-link {
	display: flex;
	align-items: center;
	border-top: 1px solid $color02;
	width: calc(100% + 60px);
	margin: 30px 0 -30px -30px;

	a {
		padding: 30px 0;
		width: 50%;
		text-align: center;
		color: $color-green;
		@include fontSize(15px);

		&:hover {
			text-decoration: underline;
		}

		& + a {
			border-left: 1px solid $color02;
		}
	}

	p {
		@include fontSize(15px);

		span {
			display: block;
		}

		a {
			display: inline-block;
			width: auto;
		}
	} 
}

.block {
	display: block !important;
}

.pd-0 {
	padding: 0 !important;
}

.default-link {
	color: $color01;
	text-decoration: underline;

	&:hover {
		color: $color01;
		text-decoration: none;
	}
}

.form-error {
    display: none;
    margin: 0;
    @include fontSize(13px);
    font-weight: normal;
    color: red;
    position: absolute;
    bottom: -25px;
    left: 62px;
}

.is-invalid-input:not(:focus) {
	background-color: white;
	@include placeholder {
	    color: $color-grey; 
	}
}

input::-webkit-contacts-auto-fill-button, input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.reveal-overlay {
	overflow-y: auto;
}

.reveal {
    transform: translate(0%, -50%);
    top: 50% !important;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 1);
	z-index: 99;

	i {
		border: 5px rgba(0, 0, 0, 0.5) solid;
		border-top: 5px $color-green solid;
		border-radius: 50%;
		-webkit-animation: spCircRot 0.6s infinite linear;
		animation: spCircRot 0.6s infinite linear; 
		width: 100px;
		height: 100px;
	}
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot 4s infinite linear;
  animation: spCircRot 4s infinite linear; 
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.is-dropdown-submenu-active {
	display: flex;
}















